*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    padding: 16px 0px;
    background-color: #ff66c4;
    display:flex;
}

body{
    background-color:white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.container{
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h1{
    color: black;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

header .container img{
    height: 90px;
    background-color: black;
}

header li{
    display: inline;
    margin-left: 16px;
}

header li a{
    color: black;
    text-decoration: none;
}

header li a:hover{
    color: white;
}

.container{
    width: 1000px;
    margin: 0 auto 0 auto;
}

.articles{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 300px;
    background-color: black;
}

section{
    padding: 16px 0px;
}

section h2, .articles article{
    margin-bottom: 16px;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 509; 
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 509;  
    color: black;
}

#home{
    background-color: white;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    align-items: center;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    padding: 8px;
    margin-bottom: 3px;
    max-width: 640px;
    width: 100%;
    border-radius: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: #ff66c4;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}


form button:hover{
    background-color: #ff55a1;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 20px;
}

.social-links li a{
    text-decoration: none;
}

footer {
    padding: 7px 0;
    background-color: #ff66c4;
    color: black;
    text-align: center;
}