* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#seçoes{
    background-color: red;
    max-width: 150px;
    height: 200px;
    display: block;
    text-align: center;
}

hr{
    color: black;
    background-color: black;
}