* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    

}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
}


body {
    background-image: url(/Midia/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#sobre,
img {
    background-color: rgba(0, 0, 0, 0.4);
    max-height: 70%;
    max-width: 70%;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#sobre p {
    margin-left: 20px;
}

#sobre h2 {
    margin-left: 20px;
}

#destaque h2 {
    color: #ffff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 8px;
    text-align: center;

}

header,footer {
    background-color: #192a56;
    padding: 16px 0;
    color: #fff;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav {
    background-color: #575fcf;
    padding: 16px;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu_hamburger {
    width: 32px;
}

.menu_hamburger span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container_flex {
    display: flex;
}

#sobre_a_loja img {
    max-width: 480px
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista_veiculos {
    flex-wrap: wrap;
}

.lista_veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: white;
}

.lista_veiculos li img {
    max-width: 900px;
    max-height: 160px;
    border-radius: 5px;
}

.lista_veiculos li h3 {
    margin: 16px 0;
}

.item_central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #119759;
    color: white;
    font-size: 16px;
    font-family: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

strong {
    margin: 16px 0;
    display: block;
}

#promoçao {
    color: lime;
}

.form_campo {
    margin-bottom: 16px;
}

.form_campo label {
    font-weight: bold;
    display: block;
}

.form_campo input,
.form_campo textarea {
    width: 100%;
    display: block;

}


.form_campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 380px;
}

form button {
    max-width: 120px;
}

#carrossel_imagens button {
    background-color: #192a56;
    color: #fff;
    display: none;
}

footer li {
    list-style: none;
    margin-left: 16px;
    display: inline;
    
}

footer li img {
    height: 60px;
}

footer .container{
    justify-content: space-between;
    align-content: center;
}