*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(/Midia/bakground.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    align-items: center;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

button, input{
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin: 10px;
    display: inline-block;
    margin-top: 50%;
    cursor: pointer;
}

button{
    background-color: #ff2574;
    display: inline;
}

#ponto{
    display: flex;
    justify-content: center;
    margin-bottom: 80
}